.Stock {
    color: white;
}

.StockDisplayFrame {
    margin: 15px;
    padding: 15px;
    border: solid 2px lavender;
    border-radius: 5px;
    background-color: #888888;
}

.StockListContainer {
    display: flex;
}

.StockSection {
    display: flex;
}

.StockControls input{
    border-radius: 25px;
}